:root {
	--background-color: white;
	--bar-color: #121212;
	--primary-color: #3DEBD1;
	--secondary-color: #61707D;
	--on-background: #121212;
	--on-bar: white;
	--on-primary: #121212;
	--on-secondary: #121212;
}