:root {
	--font-family: Avenir, Helvetica, Arial, sans-serif;
	--background-color: #121212;
	--primary-color: #3DEBD1;
	--secondary-color: #61707D;
	--on-background: #FFFFFF;
	--on-primary: #000000;
	--on-secondary: #FFFFFF
}